html, body {
    margin: 0;
    background-color: #000;
}

body {
    vertical-align: middle;
    height: 672px;
    width: 100%;
    background-color: #506;
    position: relative;
}

#console {
    z-index: 1;
    position: absolute;
    width: 40%;
    height: 100%;
}

#console > input {
    font-size: 20px;
    color: #fff;
    background-color: #304;
    box-shadow: 0 0 25px #000;
    border: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    font-family: sans-serif;
}

#console > span {
    font-size: 20px;
    position: absolute;
    bottom: 0;
    color: rgba(1, 1, 1, 0.5);
}

#console > div {
    color: #fff;
    position: absolute;
    bottom: 30px;
    font-size: 20px;
    font-family: sans-serif;
    text-shadow: 0 0 15px #000;
}

#phaser {
    position: absolute;
    width: 100%;
    height: 100%;
}
